In [2]:
# import necessary libaries
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# read csvfile
df= pd.read_csv("travel_data_cleaned.csv")

# Want to see if the dataframe was properly imported and see what kind of data is stored in each column.
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Zone                              325 non-null    object
 1   State                             325 non-null    object
 2   City                              325 non-null    object
 3   Name                              325 non-null    object
 4   Type                              325 non-null    object
 5   Establishment Year                325 non-null    object
 6   time needed to visit in hrs       325 non-null    float64
 7   Google review rating              325 non-null    float64
 8   Entrance Fee in INR               325 non-null    int64
 9   Airport with 50km Radius          325 non-null    object
 10  Weekly Off                        324 non-null    object
 11  Significance                      325 non-null    object
 12  DSLR Allowed                      325 non-null    object
 13  Number of google review in lakhs  325 non-null    float64
 14  Best Time to visit                325 non-null    object
dtypes: float64(3), int64(1), object(11)
memory usage: 38.2+ KB

,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,None,Historical,Yes,2.60,Evening
1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,None,Historical,Yes,0.40,Afternoon
2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,None,Religious,No,0.40,Afternoon
3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,None,Scientific,Yes,0.31,Morning

In [7]:
df_sign=df.groupby("Significance").sum()
df_sign

/var/folders/mq/ylj5z08x5mx59bw0_nz_pfhm0000gn/T/ipykernel_13296/1573184474.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_sign=df.groupby("Significance").sum()

,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Number of google review in lakhs
Significance,,,,
Adventure,13.0,22.7,2500,0.1300
Agricultural,1.5,4.6,0,0.0150
Archaeological,2.0,4.6,25,0.0700
Architectural,2.5,18.2,50,3.3700
Artistic,5.0,9.0,50,0.5800
Botanical,5.0,13.2,35,0.8700
Cultural,21.5,58.7,7770,1.4100
Educational,10.0,8.8,560,0.9900
Engineering Marvel,1.0,4.5,0,0.0100
Entertainment,18.5,22.6,3890,2.8200
Environmental,5.0,8.2,130,0.6800
Food,2.0,4.4,0,0.4900
Historical,123.0,351.3,4575,42.9285
Market,3.0,4.2,0,0.2500
Natural Wonder,3.5,8.9,125,0.4200
Nature,79.5,209.4,1425,11.9950
Recreational,57.0,125.6,4408,5.3160
Religious,106.5,350.2,255,29.9080
Scenic,18.5,44.3,0,3.5700
Scientific,7.0,8.6,85,0.5400
Shopping,15.0,31.6,0,8.4000
Spiritual,1.5,4.9,0,1.9000
Sports,5.0,8.7,4000,7.5000
Trekking,3.0,4.7,0,0.0100
Wildlife,78.0,126.1,7755,8.5700

In [8]:
df

,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,None,Historical,Yes,2.60,Evening
1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,None,Historical,Yes,0.40,Afternoon
2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,None,Religious,No,0.40,Afternoon
3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,None,Scientific,Yes,0.31,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Western,Gujarat,Gandhinagar,Akshardham,Temple,1992,3.0,4.6,0,Yes,Monday,Religious,No,0.18,All
321,Central,Uttar Pradesh,Agra,Agra Fort,Fort,1565,2.0,4.5,40,Yes,None,Historical,Yes,1.30,Afternoon
322,Central,Madhya Pradesh,Bhopal,Madhya Pradesh Tribal Museum,Museum,2013,2.0,4.7,10,Yes,Monday,Cultural,Yes,0.15,All
323,Northern,Rajasthan,Jaipur,City Palace,Palace,1727,2.0,4.4,200,Yes,None,Historical,Yes,0.51,Morning
324,Northern,Rajasthan,Jaipur,Albert Hall Museum,Museum,1887,2.0,4.5,200,Yes,None,Historical,Yes,0.63,All

In [11]:
df_state=df.groupby("State").sum()
df_state

/var/folders/mq/ylj5z08x5mx59bw0_nz_pfhm0000gn/T/ipykernel_13296/3203698936.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_state=df.groupby("State").sum()

,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Number of google review in lakhs
State,,,,
Andaman and Nicobar Islands,5.0,18.4,280,0.2650
Andhra Pradesh,24.0,80.6,225,4.2260
Arunachal Pradesh,2.0,4.7,0,0.0320
Assam,15.0,36.1,1650,1.4900
Bihar,6.0,18.1,40,1.2600
Chhattisgarh,1.5,4.6,0,0.1900
Daman and Diu,2.5,9.1,0,1.8000
Delhi,39.5,83.8,480,11.4700
Goa,25.0,61.4,510,3.6800
Gujarat,36.5,64.1,12060,3.7000
Haryana,7.0,13.7,1100,2.2100
Himachal Pradesh,38.5,81.4,4200,5.3200
Jammu and Kashmir,20.0,26.8,200,0.9400
Jharkhand,2.0,9.3,0,1.9300
Karnataka,34.0,85.6,1855,12.6600
Kerala,32.5,70.4,1290,7.0190
Ladakh,15.5,45.7,110,0.5580
Madhya Pradesh,26.0,68.0,415,3.0150
Maharashtra,8.5,18.1,330,0.6250
Maharastra,42.5,86.6,3803,12.8300
Meghalaya,2.0,4.6,0,0.0600
Nagaland,3.0,4.7,0,0.0100
Odisha,17.5,53.3,90,4.5270
Puducherry,4.0,13.1,200,0.1400
Punjab,6.5,19.0,30,2.8700
Rajasthan,26.5,67.7,1625,10.7600
Sikkim,10.0,32.2,150,0.6450
Tamil Nadu,17.0,58.1,70,3.2390
Telangana,19.5,48.3,1400,8.7700
Tripura,4.0,13.5,30,0.0700
Uttar Pradesh,33.0,104.3,1900,16.5365
Uttarakhand,26.0,62.9,490,3.4350
West Bengal,35.0,89.8,3105,6.4600

In [5]:
# reading cleaned csv file with no index reference into new dataframe.
df.to_csv("travel_cleaned.csv",index=False)
df1=pd.read_csv("travel_cleaned.csv")
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 15 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Zone                              325 non-null    object
 1   State                             325 non-null    object
 2   City                              325 non-null    object
 3   Name                              325 non-null    object
 4   Type                              325 non-null    object
 5   Establishment Year                325 non-null    object
 6   time needed to visit in hrs       325 non-null    float64
 7   Google review rating              325 non-null    float64
 8   Entrance Fee in INR               325 non-null    int64
 9   Airport with 50km Radius          325 non-null    object
 10  Weekly Off                        324 non-null    object
 11  Significance                      325 non-null    object
 12  DSLR Allowed                      325 non-null    object
 13  Number of google review in lakhs  325 non-null    float64
 14  Best Time to visit                325 non-null    object
dtypes: float64(3), int64(1), object(11)
memory usage: 38.2+ KB

In [9]:
# creating new dataframe with establishment year and number of google review in lakhs to know analytic for people
df_reviews= df1[["Establishment Year","Number of google review in lakhs"]]
df2=df_reviews.groupby("Establishment Year")["Number of google review in lakhs"].sum()
df2.to_csv("year_to_reviews.csv")
df_year_review =pd.read_csv("year_to_reviews.csv")

In [10]:
df_year_review.info()
df_year_review

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 2 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Establishment Year                162 non-null    object
 1   Number of google review in lakhs  162 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.7+ KB

    Establishment Year  Number of google review in lakhs
0                 -260                             0.200
1                 -300                             0.010
2                -3500                             1.200
3                 -400                             0.590
4                 -500                             0.065
..                 ...                               ...
157                751                             0.090
158        7th century                             0.250
159                900                             0.400
160            Ancient                             0.010
161            Unknown                            30.743

[162 rows x 2 columns]